<!--{template header}-->
<div class="container padding-left padding-right padding-top">
    <form method="post" class="form-auto" action="">
        <div class="form-group padding-bottom">
            <div class="field">
                <input type="text" value="{$userinfo[username]}" class="input" disabled="disabled" id="username" name="username" placeholder="当前账号" />
            </div>
        </div>
        <div class="form-group padding-bottom">
            <div class="field">
                <input type="password" class="input" id="password" name="password" placeholder="请填写当前密码" />
            </div>
        </div>
        <div class="form-group padding-bottom">
            <div class="field">
                <input type="password" class="input" id="newpassword" name="newpassword" placeholder="请填写新密码" />
            </div>
        </div>
        <div class="form-group padding-bottom">
            <div class="field">
                <input type="password" class="input" id="renewpassword" name="renewpassword" placeholder="请再填写一次新密码" />
            </div>
        </div>
                <div  class="form-button"><input id="alterpass" style="text-align: center;" value="确认" name="alterpass" class="button button-block nav-font border-yellow"><!--<button class="button button-block nav-font border-sub" type="submit">确认</button>--></div>
    </form>
</div>
<!--footer-->
<!--{template nav_buttom}-->
</body>

<script>
		$('#alterpass').click(function(){
		var username=$('#username').val();
		var password1=$('#password').val();
		var newpassword=$('#newpassword').val();
		var renewpassword=$('#renewpassword').val();
		
		 
		$.ajax({
			type:"POST",
			url:"/mobile.php?ac=member",
			dataType:'json',
			data:"&op=password&alterpass=1&username="+username+"&password="+password1+"&newpassword="+newpassword+"&renewpassword="+renewpassword,
			beforeSend: function (XMLHttpRequest) {
		  // $('#cardnum').html("loading....");
		},
		success: function(result){
			var data=result;
			console.log(data)
			if(data.state==1){
				
				alert(data.msg);
				window.location.href="/mobile.php";
			}else{
				alert(data.msg);
				return false;
			}
		   
		}
		});
	})
</script>
</html>