<!--{template header}-->
<style type="text/css">
li{list-style:none}
</style>
<div class="hidden" id="dialog" style="position:fixed;left:0;top:0;right:0;bottom:0;background:#FFFFFF;z-index:10;display:block;overflow-x:hidden;overflow-y:auto;">
    <div class="text-center elementwidth text-big padding-left padding-right bg-yellow" style="height: 40px">
        <form method="get" action="/{$SCRIPT_NAME}" class="form-inline" name="form">
            <input type="hidden" value="search" name="ac">
            <div class="line">
                <div class="xl2 xs2 xm2 xb2 margin-small-top text-left">
                    <span class="icon-angle-left text-large text-white" id="close"></span>
                </div>
                <div class="xl8 xs8 xm8 xb8 margin-small-top">
                    <input type="text" class="input" value="{$keyword}" name="keyword" placeholder="精品应用、海量搜索"  style="height: 34px;padding:0 10px !important">
                </div>
                <div class="xl2 xs2 xm2 xb2 margin-small-top text-right">
                   
					<a href="javascript:form.submit();" id="search"><img src="/static/template/$_SCONFIG[template]/images/s1.png" width="25" style="margin-top:5px" class="icon-search"></a>
                </div>
            </div>
        </form>
    </div>
    <!--{template search_box}-->
</div>
<div class="container padding-top padding-left padding-right" id="tab1">
	 <!--{if $pcinfo}-->
	 <!--{loop $pcinfo $key $value}-->
    <div class="line">
        <div class="xs8 xm8 xl8 xb8">
               <a href="{$SCRIPT_NAME}?ac=appdetail&id={$value['id']}">
                <div style="float:left">
                    <img src="{$dqpackinfo[$value[appid]][logo]}" class="radius-big float-left game-icon">
                </div>
				 </a>
                <div class="padding-left"  style="float:left">
                    <p class="gamename" style="width:112px;overflow:hidden;height:20px">{$value[packname]}</p>
                    <div class="line padding-small-bottom" style="font-size:12px;">
                        有效期:<!--{eval echo date('y.m.d',$value[endtime])}-->
                    </div>
                    <p class="text-left height-little margin-small-bottom text-small text-gray"><a href="$value[packdetail]">礼包详情</a></p>
                </div>
           
        </div>
        <div class="xs4 xm4 xl4 xb4">
            <div class="float-right padding-top"><input value="{$value[card]}" class="button button-small border-yellow" style="width:120px"></div>
        </div>
    </div>
    <hr class="bg-line">
   	<!--{/loop}-->
	<!--{else}-->
	<div>暂无相关数据</div>
	<!--{/if}-->
</div>
<script src="http://apps.bdimg.com/libs/jquery/1.8.0/jquery.min.js"></script>

	<script>
    var height= $(window).height();
    $('#search').click(function(){
        $('#dialog').removeClass('hidden');
        $('#dialog').height(height);
    });
    $('#close').click(function(){
        $('#dialog').addClass('hidden');
    });
</script>
</body>
</html>