<html>
<head>
<meta http-equiv="Content-Language" content="zh-CN">
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<meta http-equiv="refresh" content="5;url=http://lm.cnssdb.com/mvc/channel/login">
<title>点击申请189手游平台联盟</title>
</head>
<body>
<CENTER><FONT style="FONT-SIZE: 40pt; FILTER: glow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>189手游联盟诚邀您的加入</B></FONT></CENTER><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>无需任何费用，分包推广有人充值就可获得百分之50的分成</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>联系商务经理-qq572724219 开通后台渠道,免费代理</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>加入代理群,每个星期二结账,跟平台直接对接,成为一级代理</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>189手游一如既往的感谢联盟的兄弟加入我们，一起合作一起赚钱</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>我们为一级代理提供免费的虚拟主机2个月</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>官方授权的BT手游,玩家充值1万拿5000,赶快加入我们</B></FONT><br>
<FONT style="FONT-SIZE: 20pt; FILTER: shadow(color=black); WIDTH: 100%; COLOR: #e4dc9b; LINE-HEIGHT: 150%; FONT-FAMILY: 华文彩云"><B>5秒过后自动跳转申请界面</B></FONT><br>
<a target="_blank" href="//shang.qq.com/wpa/qunwpa?idkey=79e178fd3f4fe4d091109dcc068248a213cffd7546db29434f07f97bff30e41e"><img border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="189BT手游代理群" title="189BT手游代理群"></a>
<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=572724219&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:572724219:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
</body>
</html>  