 <!--{template header}-->
<div class="mainarea">
<div class="maininner">

	<div class="bdrcontent">
		<div class="title">
			<h3>下载资源文件管理</h3>
		</div>
<form method="post"   action="admincp.php?ac=config&op=ad" >
		<table cellspacing="0" cellpadding="0" class="formtable" style =" width :auto;">

            <tr>
<td>正在下载ID为 {$startid}——{$endid}的<!--{if $op=='logo'}-->应用小图<!--{elseif $op=="img"}-->应用图集<!--{/if}-->中...请勿关闭该页面！</td>
			</tr>
		</table>
	</form>

	</div>
</div>


 <!--{template footer}-->


