 <!--{template header}-->
<script language="javascript" type="text/javascript" src="admin/tpl/datepicker/WdatePicker.js"></script>
	        <script type="text/javascript">
	            function selectAll(checkbox) {
				if(typeof($("#check").attr('checked'))=="undefined")		
	                $('input[type=checkbox]').attr('checked', false);
					else
					 $('input[type=checkbox]').attr('checked',true);
	            }
	        </script>

<h2 class="con_title">评论管理</h2>
	<form method="get" action="admincp.php?ac=comment">
	<div class="sousuobox">
		<table>
		<tr>
        <td>搜索评论：
		应用名称 <input class="sousuobox_input1" name="appname" type="text" value="{$appname}"/>
		评论内容 <input class="sousuobox_input1" name="message" type="text" value="{$message}"/>		
		<select name="verify" class="select4z">
			<option value="-1" selected="selected" >审核状态</option>
			<option value="1" <!--{if $_GET[verify]==1}-->selected="selected"<!--{/if}-->>审核</option> 
			<option value="2" <!--{if $_GET[verify]==2}-->selected="selected"<!--{/if}-->>未审核</option>
			
		</select>
        <select name="orderby" class="select4z">
			<option value="c.dateline desc" <!--{if $_GET[orderby]=="c.dateline desc"}-->selected="selected"<!--{/if}-->>倒序</option>
			<option value="c.dateline asc" <!--{if $_GET[orderby]=="c.dateline asc"}-->selected="selected"<!--{/if}-->>顺序</option>
		</select>
		<select name="perpage" class="select6z">
		<option value="20" <!--{if $_GET[perpage]==20}-->selected="selected"<!--{/if}-->>每页显示20个</option>
		<option value="50" <!--{if $_GET[perpage]==50}-->selected="selected"<!--{/if}-->>每页显示50个</option>
		<option value="100" <!--{if $_GET[perpage]==100}-->selected="selected"<!--{/if}-->>每页显示100个</option>
		</select>
		</td>
		<td class="sousuobox_bu">
		<input type="hidden" name="ac" value="comment">
        <input type="hidden" name="op" value="list">
		<input type="hidden" name="subtype" value="{$subtype}">
		<input type="submit" name="searchsubmit" value="搜索" class="submit sub2zf">
		</td>
		</tr>
		</table>

	</div>
	</form>
		
<!-- {if $list} -->
<form method="post" action="admincp.php">
		<input type="hidden" name="ac" value="comment">
        <input type="hidden" name="op" value="caozuo">
         <input type="hidden" name="subtype" value="{$subtype}">
<div class="bdrcontent text_center">

<table cellspacing="0" cellpadding="0" class="formtable">
		<tr>
        <th width="60">选择</th>
        <th width="200">应用名称</th>
        <th>评论内容</th>
		<th width="80">评论用户</th>
		<th width="50">审核</th>
        <th width="90">评论时间</th>
		<th width="50">操作</th>
		</tr>
		<!-- {if $list} -->
		<!-- {loop $list $val} -->
		<tr>
        <td><input type="checkbox" name="ids[]" value="$val[id]"></td>
        <!--<td>$val[id]</td>-->
		<td class="text_left">$val[name]</td>
        <td class="text_left">$val[message]</td>
		 <td><!--{if $commusername[$val[uid]]}-->{$commusername[$val[uid]]}<!--{else}-->游客<!--{/if}--></td>
        <td>
		<!--{if $val[isverify] == 1}-->
        <a href="admincp.php?ac=comment&op=update_0&subtype={$subtype}&id=$val[id]">已审核</a>
        <!--{else}-->
        <a href="admincp.php?ac=comment&op=update_1&subtype={$subtype}&id=$val[id]">未审核</a>
		<!--{/if}-->	
		</td>
        <td>$val[dateline]</td>
        <td>
        	<a href="admincp.php?ac=comment&op=delete&subtype={$subtype}&id=$val[id]">删除</a>
		</td>
		</tr>
		<!-- {/loop} -->
		<!-- {/if} -->
	</table>	
	</div>
    <div class="fenye">$multi</div>
	<div class="footactions">
		<input type="checkbox" id="check" name="chkall" onclick="selectAll(this)">全选
		<input type="hidden" name="mpurl" value="$mpurl">
		<input type="submit" name="batchsubmit" value="批量删除" onclick="return confirm('本操作不可恢复，确认删除？');" class="submit sub4zf">
        <input type="submit" name="checkaudit" value="审核" class="submit sub2zf">
	
	</div>
	</form>
<!-- {else} -->
	<div class="bdrcontent">
		<p>指定条件下还没有数据</p>
	</div>
<!-- {/if} -->
 <!--{template footer}-->
