 <!--{template header}-->
	<form method="post" enctype="multipart/form-data"  action="admincp.php?ac=config&op=help" >
	<div class="bdrcontent">
		<h2 class="con_title">配置网站信息</h2>
		<table cellspacing="0" cellpadding="0" class="formtable">
            <tr>
			<td class="td_tit">微博地址:</td><td><input type="text" name="config[weibourl]" class="con_input" value="$_SCONFIG[weibourl]"><td>
			</tr>
			<tr>
                <td class="td_tit">微信二维码图片:</td>
                <td>
                	<input id="sitelogo" type="file" name="weixin"/><!--{if $_SCONFIG[weixin]}--><img style="margin-left:10px;height:50px;" src="$_SCONFIG['weixin']"><a href="admincp.php?ac=config&op=help&del=delweixin">删除</a><!--{/if}-->
				</td>
			</tr>
			<tr>
                <td class="td_tit">手机版二维码图片:</td>
                <td>
                	<input id="sitelogo" type="file" name="syerweima" value=""/><!--{if $_SCONFIG[syerweima]}--><img style="margin-left:10px;height:50px;" src="$_SCONFIG['syerweima']"><a href="admincp.php?ac=config&op=help&del=delsyerweima">删除</a><!--{/if}-->    点击跳转地址<input type="text" class="con_input" name="config[weburl]" value="$_SCONFIG[weburl]">
				</td>
			</tr>
			<tr>
				<td class="td_tit">绑定图片路径的域名</td><td><input type="text" class="con_input" value="$_SCONFIG[attachurl]" name="config[attachurl]" /> (注：开头需加"http://",用二级域名绑定根目录下的"attachment"文件夹)</td>
			</tr>
			<tr>			
				<td class="td_tit">联系我们:</td>
				<td>
					<textarea style="height:120px;" name="config[contact]">{$_SCONFIG['contact']}</textarea>
				</td>
			</tr>
            
            <tr>			
				<td class="td_tit">用户协议:</td>
				<td>
					<textarea style="height:120px;" name="config[agreement]">{$_SCONFIG['agreement']}</textarea> 
				</td>
			</tr>
            
             <tr>			
				<td class="td_tit">版权声明:</td>
				<td>
					<textarea style="height:120px;" name="config[copyright]">{$_SCONFIG['copyright']}</textarea>
				</td>
			</tr>
            <tr>			
				<td class="td_tit">新闻投递:</td>
				<td>
					<textarea style="height:120px;" name="config[upload]">{$_SCONFIG['upload']}</textarea>
				</td>
			</tr>
            
            <tr>			
				<td class="td_tit">应用提交:</td>
				<td>
					<textarea style="height:120px;" name="config[comment]">{$_SCONFIG['comment']}</textarea>
				</td>
			</tr>
		</table>
		
	</div>

	<div class="footactions">
		<input type="submit" id="blogbutton" name="blogbutton" class="tijiao_button" value="提交发布"/>		
	</div>
	</form>
 <!--{template footer}-->