 <!--{template header}-->
    <h2 class="con_title">前台模块配置</h2>
	<div class="bdrcontent">
    <h3 style="margin-bottom:10px;">详情页空信息板块配置：（<a href="http://bbs.yyjia.com/thread-1336-1-1.html" target="_blank">查看说明</a>）</h3>
    <form method="post" action="admincp.php?ac=config&op=mode">
	<ul>
      <li style="margin-bottom:5px;"><input type="radio" name="config[ishidden]" value="0" <!--{if $_SCONFIG['ishidden']!="1"}--> checked="checked" <!--{/if}-->/> 显示板块提示无数据</li>
      <li><input type="radio" name="config[ishidden]" value="1" <!--{if $_SCONFIG['ishidden']=="1"}--> checked="checked" <!--{/if}--> /> 隐藏无数据板块</li>
    </ul>
	<div class="footactions"><input type="submit" id="blogbutton" name="blogbutton" class="tijiao_button" value="确认提交"/></div>
 <!--{template footer}-->