 <!--{template header}-->
 <script type="text/javascript">
function checkPassword() {
	var password = $('#password2').val();
	var cp = $('#checkpassword');
	var istrue=/^[A-Za-z0-9]+$/.test(password);
	if (password == '' || istrue == '') {
		cp.html('密码空或包含非法字符');
		$('#password2').val('');
		return false;
	} else {
		cp.html('');
		return true;
	}
}
function checkPassword2() {
        var password = $('#password2').val();
        var password2 = $('#password3').val();
        var cp2 = $('#checkpassword2');
        if (password != password2) {
            cp2.html('两次输入的密码不一致');
			$('#password3').val('');
        } else {
            cp2.html('');
        }
    }
</script>
	<div class="bdrcontent">
		<h2 class="con_title">后台登入信息修改</h2>
	<p class="tishi_con">温馨提醒：请保管好您的登入信息。</p>
	<form method="post" enctype="multipart/form-data"  action="admincp.php?ac=config&op=password" >
	<table cellspacing="0" cellpadding="0" class="formtable">
	<tr><td class="td_tit">用户名：</td><td>{$info[username]}</td></tr>
	<tr><td class="td_tit">原始密码：</td><td><input class="con_input" type="password" id="password1" name="user[oldpasswd]" value=""></td></tr>
	<tr><td class="td_tit">新密码：</td><td><input class="con_input" type="password" id="password2" name="user[password]" value="" onblur="checkPassword()"> <span id="checkpassword"></span></td></tr>
	<tr><td class="td_tit">确认密码：</td><td><input class="con_input" type="password" id="password3" name="user[password2]" value="" onblur="checkPassword2()"><span id="checkpassword2"></span></td></tr>
	<input  class="con_input" type="hidden" name="user[username]" value="{$info[username]}">
	<tr><td class="td_tit"></td><td > <input type="submit" name="alterinfo" value="提交"  class="tijiao_button"></td></tr>
	</table>
	</form>
	</div>
 <!--{template footer}-->