  <div id="footer">
    <div class="fcontent">
      <p><a href="http://sk.cnssdb.com:81/website/business" target="_blank">关于我们</a>|<a href="http://wpa.qq.com/msgrd?v=3&uin=572724219&site=qq&menu=yes" target="_blank">联系我们</a>|<a href="http://lm.cnssdb.com/mvc/channel/login" target="_blank">申请联盟</a>|<a href="//shang.qq.com/wpa/qunwpa?idkey=eba343ac66f9cffcbdd872ac31106904feadd18cac27fe0944e7f6306a4e79e5" target="_blank">加入代理群</a>|<a href="//shang.qq.com/wpa/qunwpa?idkey=7d23af764322d0ac0a8c3135beaa64ae3d347bb7752ab881b568b75cbadfee1a" target="_blank">加入玩家群</a>|<a href="http://www.189sy.net" target="_blank">官网首页</a></p>
      <p>Copyright &copy; 2017 All Rights Reserved 189sy.net</p>
    </div>
  </div>
</div>
</body>
</html>