<!--{template header}-->
 <script language="javascript" type="text/javascript" src="/template/admin/js/datepicker/WdatePicker.js"></script>
<script>
$(function(){
	 var name=$('#kcgamename').val();
	 if(name){
	 	searchname(name);
	 }
});
function kcsearchname(name){
	if(name==""){
		alert("关联游戏不能为空，请重新填写...");
		return;
	}	
		$.ajax({
		url:"/admincp.php?ac=managekcb&gamename="+encodeURIComponent(name),
		type:'get',
		dataType:'json',
		success:function(json){
			var snames="";
			var infos=json.info;
			var sames=json.same;
			for(var i=0;i<sames.length;i++){
				samesinfo=sames[i];
				snames=snames+"<a href=\"javascript:setname('"+samesinfo.name+"','"+samesinfo.id+"');\">"+samesinfo.name+"</span>"+" ";
			}
			$('#glgames').html(snames);
			if(json.error=="isnull"){
				alert("游戏名称不存在,请确认输入是否有错...");
				$('#kcgamename').val('');
				return;
			}else{
				$('#appid').val(infos.id);
			}
		}
	});
}
function kcbchkpackinfo(){
	var gname=$('#kcgamename').val();
	if(gname==""){
		alert("还没填写游戏名称");
		return false;
	}
}
function setname(gname,appid){
	$('#kcgamename').val(gname);
	$('#appid').val(appid);
}
function setplatname(platname){
	$('#yypt').val(platname);
	$('#uplatname').html('');
}
function getplatname(){
	$.ajax({
		url:"/admincp.php?ac=managekcb&op=savetest&getplatname=1",
		type:'get',
		dataType:'json',
		success:function(json){
			var snames="历史记录：";
			var infos=json.platname;
			for(var i=0;i<infos.length;i++){
				samesinfo=infos[i];
				snames=snames+"<a href=\"javascript:setplatname('"+samesinfo.useplatform+"');\">"+samesinfo.useplatform+"</span>"+" ";
			}
			$('#uplatname').html(snames);
		}
	});
}
</script>
<div id="main">
  <div class="content">
    <h2 class="con_title">添加开测表</h2><div class="sc_tishi"><span><a href="admincp.php?ac=managekcb" class="sc_tishi_b sc_tishi_b2">开测表管理</a></span></div>
    <div class="o_appcon">
      <form action="admincp.php?ac=managekcb&op=savetest" enctype="multipart/form-data" method="post" onsubmit="return kcbchkpackinfo()">
        <ul class="o_rencon libaocon">
		  <li> <label class="mn_infobox">厂商平台：</label><input type="text" id="yypt" value="{$kcinfo[useplatform]}" name="kcgame[useplatform]" class="sousuobox_input1" onclick="getplatname()" /> （前台显示为运营商，如：百度手游、九游平台）</li>
          <div id="uplatname"></div>
          <li><label class="mn_infobox">游戏名称：</label><input class="sousuobox_input1" type="text" name="kcgame[gamename]" value="{$kcinfo[gamename]}" id="kcgamename" onblur="kcsearchname(this.value)"> <span>你是不是在找:<span id="glgames"><!--{loop $ugames $k $v}--><a href="javascript:setname('$v[gamename]','$v[appid]');">$v[gamename]</a><!--{/loop}--></span></span></li>
		  <li><label class="mn_infobox">系统选择：</label><input type="checkbox" name="kcgame[isandroid]" value="1" <!--{if !$kcinfo}-->checked="checked"<!--{/if}--><!--{if $kcinfo[isandroid]=="1"}-->checked="checked"<!--{/if}-->> 安卓 <input type="checkbox" name="kcgame[isios]" value="1" <!--{if $kcinfo[isios]=="1"}-->checked="checked"<!--{/if}-->> 苹果</li>
		  <li><label class="mn_infobox">服务器名：</label><input type="text" class="text-input sousuobox_input1" name="kcgame[addressnum]" <!--{if $kcinfo[addressnum]}-->value="{$kcinfo[addressnum]}"<!--{else}-->value="测试服"<!--{/if}-->></li>
		  <li><label class="mn_infobox">开测时间：</label><input class="sousuobox_input1" type="text" name="kcgame[starttime]" id="starttime" <!--{if $kcinfo[starttime]}-->value="<!--{eval echo date('Y-m-d',$kcinfo[starttime])}-->"<!--{/if}--> size="10" class="text-input" onclick="WdatePicker({el:'starttime'})"/><img height="22" align="absmiddle" width="16" onclick="WdatePicker({el:'starttime'})" style="cursor: pointer;" src="template/admin/js/datepicker/skin/datePicker.gif" /> <select id="hour" name="hour">
<option value="" selected="selected">请选择</option><!--{loop $hours $val}--><option value="{$val}"  <!--{if $kcinfo[starttime]}--><!--{if date('H',$kcinfo[starttime])==$val}--> selected="selected"<!--{/if}--><!--{/if}-->>$val</option><!--{/loop}--></select> 点</li>
          <li><label class="mn_infobox">官网地址：</label><input type="text" class="text-input sousuobox_input1" value="{$kcinfo[gameurl]}" name="kcgame[gameurl]" /> (请以http://开头,前台显示为进入专区，不填则默认为该游戏的专区地址。)</li>
		  <li>
            <label class="mn_infobox">测试状态：</label><select name="kcgame[testtype]">
                <option value="0">选择状态</option>
			
				<!--{loop $ttypeinfo $val}-->
				<option value="$val[bianhao]" <!--{if $kcinfo[testtype]==$val[bianhao]}-->selected="selected"<!--{/if}-->>$val[name]</option>
				<!--{/loop}-->
            </select>
        </ul>
        <div class="footactions">
		  <input type="hidden" name="kcgame[appid]" value="{$kcinfo[appid]}" id="appid">
		  <!--{if $kcinfo}-->
		  <input type="hidden" name="kcid" value="{$kcinfo[id]}">
		  <!--{/if}-->
          <input class="tijiao_button" type="submit" name="kcsubmit" value="提交" id="subtn">
        </div>
      </form>
    </div>
  </div>
</div>
<!--{template footer}-->