 <!--{template header}-->
<div class="bdrcontent">
<h2 class="con_title">更新缓存</h2>
<p class="gxhc_b"><a class="tijiao_button" href="admincp.php?ac=recache&op=re">更新站点缓存</a></p>
<p class="gxhc_b"><a class="tijiao_button" href="admincp.php?ac=recache&op=template">更新模板缓存</a></p>
<p class="gxhc_b"><a class="tijiao_button" href="admincp.php?ac=recache&op=jingtai">更新静态缓存</a></p>
<p class="gxhc_b"><a class="tijiao_button" href="admincp.php?ac=recache&op=all">更新所有缓存</a></p>
</div>
 <!--{template footer}-->