 <!--{template header}-->
<div class="mainarea">
<div class="maininner">

	<div class="bdrcontent">
		<div class="title">
			<h3>下载专辑资源管理</h3>
		</div>
<form method="post"   action="admincp.php?ac=config&op=ad" >
		<table cellspacing="0" cellpadding="0" class="formtable" style =" width :auto;">
			<tr>
				<td style =" width :150px;">下载小图:</td>
				<td>
				<a href="admincp.php?ac=subdownload&op=logo&type={$type}" class="sub6zf">下载图片</a>
				</td>
			</tr>
            <tr>
				<td style =" width :150px;">下载大图:</td>
				<td>
				<a href="admincp.php?ac=subdownload&op=img&type={$type}" class="sub6zf">下载大图</a>
				</td>
			</tr>
            <tr>
				<td style =" width :150px;">下载专辑图片文件:</td>
				<td>
				<a href="admincp.php?ac=subdownload&op=subject" class="sub6zf">下载专辑图片</a>
				</td>
			</tr>
		</table>
	</div>
	</form>

	</div>
</div>


 <!--{template footer}-->



