<!--{template header}-->
<div id="main" class="layout">
  <div class="kaice">
    <div class="kc_btit"><a href="index.php?ac=server" class="k_qhb">最新开服表</a>新游开测</div>
    <div class="kc_tit kc_tit1"><a href="index.php?ac=testmore&op=1" class="more" target="_blank">+ 查看更多</a>今日开测</div>
    <div class="kc_con">
	<!--{eval $todaytest=gettestgames(0,1,10,0)}-->
	 <!--{if $todaytest[list]}-->
      <table>
        <tbody>
          <tr>
            <th width="120">游戏名称</th>
            <th width="100">开测时间</th>
			<th width="80">适用平台</th>
			<th width="100">服务区名</th>
            <th width="100">状态</th>
            <th width="120">运营商</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th>下载游戏</th>
          </tr>
		 <!--{loop $todaytest[list] $key $value}-->
          <tr>
            <td>
              <div class="k_now">
                <a href="{$value[url]}" target="_blank" class="app_72"><i class="app_img_72"></i><img src="{$value[logo]}" alt="{$value[name]}"></a>
              </div>
              <p><a href="{$value[url]}" target="_blank" title="{$value[name]}">{$value[name]}</a></p>
            </td>
            <td><!--{eval echo date('m-d H:i',$value[starttime])}--></td>
			<td><!--{if $value[isandroid]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_an.jpg" /><!--{/if}--> <!--{if $value[isios]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_ios.jpg" /><!--{/if}--></td>
			<td>{$value[addressnum]}</td>
            <td>$ttypeinfo[$value[testtype]][name]</td>
            <td>{$value[useplatform]}</td>
            <td><a href="$value[zqurl]" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="$value[packurl]" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a <!--{if $value[appledw]}-->href="$value[appledw]" class="k_ios_d" target="_blank"<!--{else}--> class="k_ios_d_wu" <!--{/if}--> rel="nofollow" ><span>苹果下载</span></a><a <!--{if $value[andrdw]}-->href="$value[andrdw]" class="k_an_d" target="_blank"<!--{else}--> class="k_an_d_wu" <!--{/if}--> rel="nofollow" ><span>安卓下载</span></a></td>
          </tr>
          <!--{/loop}-->
        </tbody>
      </table>
	  <!--{else}-->
	  <div>今日没有相关开测信息...</div>
	  <!--{/if}-->
    </div>
    <div class="kc_tit kc_tit2"><a href="index.php?ac=testmore&op=2" class="more" target="_blank">+ 查看更多</a>即将测试</div>
    <div class="kc_con">
	<!--{eval $tomtest=gettestgames(0,2,10,0)}-->
	 <!--{if $tomtest[list]}-->
      <table>
        <tbody>
          <tr>
            <th class="text_left">游戏名称</th>
            <th width="100">开测时间</th>
			<th width="80">适用平台</th>
			<th width="100">服务区名</th>
            <th width="100">状态</th>
            <th width="120">运营商</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th width="120">下载游戏</th>
          </tr>
          <!--{loop $tomtest[list] $key $value}-->
          <tr>
            <td class="text_left"><a href="{$value[url]}" target="_blank" title="{$value[name]}">{$value[name]}</a></td>
            <td><!--{eval echo date('m-d H:i',$value[starttime])}--></td>
			<td><!--{if $value[isandroid]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_an.jpg" /><!--{/if}--> <!--{if $value[isios]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_ios.jpg" /><!--{/if}--></td>
			<td>{$value[addressnum]}</td>
            <td>$ttypeinfo[$value[testtype]][name]</td>
            <td>{$value[useplatform]}</td>
            <td><a href="$value[zqurl]" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="$value[packurl]" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a <!--{if $value[appledw]}-->href="$value[appledw]" class="k_ios_d" target="_blank"<!--{else}--> class="k_ios_d_wu" <!--{/if}--> rel="nofollow" ><span>苹果下载</span></a><a <!--{if $value[andrdw]}-->href="$value[andrdw]" class="k_an_d" target="_blank"<!--{else}--> class="k_an_d_wu" <!--{/if}--> rel="nofollow" ><span>安卓下载</span></a></td>
          </tr>
          <!--{/loop}-->
        </tbody>
      </table>
	   <!--{else}-->
	  <div>没有相关开测信息...</div>
	  <!--{/if}-->
        </tbody>
      </table>
    </div>
    <div class="kc_tit kc_tit3"><a href="index.php?ac=testmore&op=3" class="more" target="_blank">+ 查看更多</a>已经测试</div>
    <div class="kc_con">
     <!--{eval $overtest=gettestgames(0,3,10,0)}-->
	 <!--{if $overtest[list]}-->
	  <table>
        <tbody>
          <tr>
            <th class="text_left">游戏名称</th>
            <th width="100">开测时间</th>
			<th width="80">适用平台</th>
			<th width="100">服务区名</th>
            <th width="100">状态</th>
            <th width="120">运营商</th>
            <th width="100">专区地址</th>
            <th width="100">领卡发号</th>
            <th width="120">下载游戏</th>
          </tr>
          <!--{loop $overtest[list] $key $value}-->
          <tr>
            <td class="text_left"><a href="{$value[url]}" target="_blank" title="{$value[name]}">{$value[name]}</a></td>
            <td><!--{eval echo date('m-d H:i',$value[starttime])}--></td>
			<td><!--{if $value[isandroid]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_an.jpg" /><!--{/if}--> <!--{if $value[isios]=="1"}--><img src="/template/$_SCONFIG[template]/images/tu_ios.jpg" /><!--{/if}--></td>
			<td>{$value[addressnum]}</td>
            <td>$ttypeinfo[$value[testtype]][name]</td>
            <td>{$value[useplatform]}</td>
            <td><a href="$value[zqurl]" class="k_jrzq" target="_blank">进入专区</a></td>
            <td><a href="$value[packurl]" class="k_lqlb" target="_blank">领取礼包</a></td>
            <td><a <!--{if $value[appledw]}-->href="$value[appledw]" class="k_ios_d" target="_blank"<!--{else}--> class="k_ios_d_wu" <!--{/if}--> rel="nofollow" ><span>苹果下载</span></a><a <!--{if $value[andrdw]}-->href="$value[andrdw]" class="k_an_d" target="_blank"<!--{else}--> class="k_an_d_wu" <!--{/if}--> rel="nofollow" ><span>安卓下载</span></a></td>
          </tr>
        <!--{/loop}-->
        </tbody>
      </table>
	   <!--{else}-->
	  <div>没有相关开测信息...</div>
	  <!--{/if}-->
    </div>
  </div>
</div>
<!--{template footer}-->