@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	margin: 0px 0px 0px 0px;
}
body {
	overflow-x: hidden;
}
.bigcontainer {
	width: 100%;
	background: #000;
	top:-110;
}
.test {
	border: 1px solid red;
}
.fl {
	float: left;
}
.cl {
	clear: both;
}
.bl {
	display: block;
}
.ab {
	position: absolute;
	left: 431px;
	top: 0px;
}
.rl {
	position: relative;
}
.topcontainer {
	width:1920px;height:902px;left: 50%;margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_01.jpg) no-repeat center;
	background-position: -0px -0px;
}

.animatetop{	
	width:1920px;height:1080px;left:50%;margin-left:-960px;

}


.topcontainer .topnavs{
	width:616px;height:30px;left:50%;margin-left:-41px;top:23px;
}

.topcontainer .topnavs .nav{
	width:112px;height:30px;
}

.topcontainer .topnavs .nav1{
	margin-left:0px;;
}

.topcontainer .topnavs .nav2{
	margin-left:167px;;
}

.topcontainer .topnavs .nav3{
	margin-left:335px;;
}

.topcontainer .topnavs .nav4{
	margin-left:503px;;
}



.topcontainer .navs{
	width:938px;height:263px;left:50%;margin-left:-471px;top:836px;
}

.topcontainer .navs .nav{
	width:177px;height:178px;
}

.topcontainer .navs .nav1{
	margin-left:0px;top:86px;
}

.topcontainer .navs .nav2{
	margin-left:255px;top:35px;
}

.topcontainer .navs .nav3{
	margin-left:508px;top:0px;
}

.topcontainer .navs .nav4{
	margin-left:761px;top:7px;
}


.topcontainer .navs .nav:hover{
	cursor: pointer;	
}

.gameIntro {
	width:1920px;height:828px;left: 50%;margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_02.jpg) no-repeat center;
	background-position: 0px -0px;
}

.gameIntro .introTexts{
	width:686px;height:366px;left:50%;margin-left:-503px;top:108px;
}

.gameIntro .introTexts .line{width:669px;height:42px;}
.gameIntro .introTexts .lineTitle{width:99px;height:22px;top:9px;left: 10px;color: #fbfff5;}
.gameIntro .introTexts .lineText{width:521px;height:26px;top:14px;left: 120px;color: #000000;}
.gameIntro .introTexts .line:hover，.gameIntro .introTexts .lineTitle:hover,.gameIntro .introTexts .lineText:hover{
	cursor: none;
}

.gameIntro .introTexts .line1{left: 18px;top: 5px;}
.gameIntro .introTexts .line2{left: 18px;top: 57px;}
.gameIntro .introTexts .line3{left: 18px;top: 109px;}
.gameIntro .introTexts .line4{left: 18px;top: 161px;}
.gameIntro .introTexts .line5{left: 18px;top: 213px;}
.gameIntro .introTexts .line6{left: 18px;top: 265px;}
.gameIntro .introTexts .line7{left: 18px;top: 317px;}




.gzshow{
	width:1920px;
	height:1031px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_03.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_03.jpg);
}


.zbShow{
	width:1920px;
	height:942px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_04.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_04.jpg);
}

.gzimg{width:309px;height:309px;left:50%;margin-left:-366px;top:221px;background: url(../images/bj04_jcjt/gifdh.gif) no-repeat center;z-index: 50;}

.zbShow2{
	width:1920px;
	height:921px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_05.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_05.jpg);
}

.zbShow2 .zbtext{width:1077px;height:40px;left: 421px;}
.zbShow2 .zbtext .text{font-size: 27px;color: white;}
.zbShow2 .zbtext1{top: 570px;}
.zbShow2 .zbtext2{top: 1046px;}
.zbShow2 .zbtext3{top: 1524px;}

.slide4{
	width:1078px;height:419px;left: 50%;margin-left: -539px;top:-5px;
	
}

.slide4 .uls li{list-style: none;}

.slide4 .prev,.slide4 .next{width:40px;height:52px;}
.slide4 .prev{top:-377px;left:-607px;}
.slide4 .next{top:-440px;left:623px;}


.bottom{
	width:1920px;
	height:1200px;
	left: 50%;
	margin-left: -960px;
	overflow: hidden;
	position: relative;
	background: url(../images/bj_06.jpg) no-repeat center;
	background-position: 0px -0px;
	background-image: url(../images/bj_06.jpg);
}

.slide1{
	width:1145px;height:559px;left: 50%;margin-left: -573px;top:107px;
	
}

.slide1 .uls li{list-style: none;}

.slide1 .prev,.slide1 .next{width:32px;height:50px;}
.slide1 .prev{top:-315px;left:-38px;}
.slide1 .next{top:-367px;left:1144px;}

.slide2{
	width:1103px;height:459px;left: 758px;margin-left: -544px;top:161px;
	
}

.slide2 .uls li{list-style: none;}

.slide2 .prev,.slide2 .next{width:40px;height:52px;}
.slide2 .prev{top:-275px;left:-650px;}
.slide2 .next{top:-325px;left:640px;}

.slide2 .slide2hd{width:781px;height:110px;left: 804px;margin-left: -495px;top:487px;}

.slide2 .slide2hd .sm{width:107px;height:110px;}
.slide2 .slide2hd .sm:hover{cursor: pointer;}

.slide2 .slide2hd .sm1{left:0px;} 
.slide2 .slide2hd .sm1.on{background:url(../images/bj04fb/1.gif);} 

.slide2 .slide2hd .sm2{left:125px;} 
.slide2 .slide2hd .sm2.on{background:url(../images/bj04fb/2.gif);} 

.slide2 .slide2hd .sm3{left:250px;} 
.slide2 .slide2hd .sm3.on{background:url(../images/bj04fb/3.gif);} 

.slide2 .slide2hd .sm4{left:375px;} 
.slide2 .slide2hd .sm4.on{background:url(../images/bj04fb/4.gif);} 

.slide2 .slide2hd .sm5{left:751px;} 
.slide2 .slide2hd .sm5.on{background:url(../images/bj04fb/5.gif);}

.slide2 .slide2hd .sm6{left:940px;} 
.slide2 .slide2hd .sm6.on{background:url(../images/bj04fb/6.gif);}

.slide3{
	width:1032px;height:527px;left: 983px;margin-left: -637px;top:234px;
	
}

.slide3 .uls li{list-style: none;}

.slide3 .prev,.slide3 .next{width:60px;height:80px;}
.slide3 .prev{top:-350px;left:-559px;}
.slide3 .next{
	top:-428px;
	left:781px;
	background-image: url(../images/LG.png);
}




.slide5{
	width:1078px;height:419px;left: 50%;margin-left: -539px;top:1097px;
	
}

.slide5 .uls li{list-style: none;}

.slide5 .prev,.slide5 .next{width:40px;height:52px;}
.slide5 .prev{top:-262px;left:-85px;}
.slide5 .next{top:-317px;left:1121px;}


#Floatingbar{width:157px;position:fixed;top:50%;right:0px;margin-top:-150px;background-color:#e5e5e5;box-shadow:0 3px 14px rgba(0,0,0,0.4);z-index:150000;font-size:12px;background-color:#ffffff;font-family:'Microsoft YaHei';}
#Floatingbar .ewm{padding:22px 0 15px;line-height:24px;text-align:center;color:#fff;background-color:#333333;}
#Floatingbar .ewm img{width:117px;height:117px;margin:0 auto;display:block;}
#Floatingbar ul{padding:14px 0;background:url(../images/line_x.png) no-repeat center bottom;list-style-type:none;background-color:#333333;color:white;}
#Floatingbar ul li{height:22px;line-height:22px;text-align:center;margin-bottom:7px;cursor: pointer;}
#Floatingbar ul li a{color:white;}
#Floatingbar ul li a:hover{color:white;}
#Floatingbar ul li img{margin-left:5px;vertical-align:middle;}
#Floatingbar .btn_backtop{height:31px;line-height:31px;text-align:center;color:#fff;background-color:#676767;display:block;}
#Floatingbar .btn_backtop:hover{background-color:#507129;}
#Floatingbar .btn{width:15px;height:130px;position:absolute;top:23px;left:-15px;background:url(../images/arrow.png) no-repeat right top;cursor:pointer;}
#Floatingbar .btn.change{background-position:left top;}


.navs {
	width: 668px;
	height: 207px;
	left:50%;
	margin-left: -511px;
	top: 783px;
	z-index: 99;
}
.nav1,.nav2,.nav3,.nav4 {
	width: 73px;
	height: 207px;
	/* margin-right: 166px; */
}

.nav1 {
	/* margin-left:90px; */
	background:url(../images/xz.png) no-repeat;
}
.nav1:hover,.nav2:hover，.nav3:hover，.nav4:hover{cursor: pointer;}
.nav1:hover,.nav2:hover,.nav3:hover,.nav4:hover {
	margin-top:-10px;	
}

.nav2 {
	background:url(../images/cz.png) no-repeat;
	margin-left: 127px;
}
.nav3 {
	background:url(../images/cz.png) no-repeat;
	margin-left: 125px;
}

.nav4 {
	background:url(../images/kf.png) no-repeat;
	/* margin-left: 38px; */
	float: right;
}




ul, ol {list-style-type: none;}
#pic{position: fixed; display: none; z-index: 9999;}
#pic1{  height: auto; border-radius: 5px; -webkit-box-shadow: 5px 5px 5px 5px hsla(0,0%,5%,1.00); box-shadow: 5px 5px 5px 0px hsla(0,0%,5%,0.3); z-index: 99999;} 

.zhuangbeishow{width: 750px;height: 500px;/* border: 1px solid red; */margin: 0px auto;position: absolute;top: 270px;left: 540px;}
.zhuangbei_ul{}
.zhuangbei_ul li{width: 150px;height: 150px;float: left;cursor: pointer;margin-right: 0px;margin-top: 0px;}
.zhuangbei_ul li img{width: 100%;height: 100%;}



