<!--{eval $_TPL['nosidebar']=1;}-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>跳转中</title>
<style type="text/css">
* { margin:0; padding:0;}
#main { margin:140px auto 0 auto; padding:80px 0 0 50px; width:570px; height:160px; color:#ec6517; font-size:14px; background: url(image/show_tiaozhuanbg.jpg) 0 0 no-repeat;}
#main img { border:none; float:left; margin:0 10px 80px 0;}
#main a { color:#ec6517; text-decoration:none;}
h1 { font-size:14px; margin-bottom:10px;}
.notice { margin-bottom:10px;}
</style>
</head>

<body>
<div id="main">
<div id="show_message" class="showmess_$_SC['siteid']">
    <img src="/image/show_logo.jpg" />
	<div class="title titles_$_SC['siteid']"><h1>信息提示</h1></div>
	<div class="wrap" id="wrapid_$_SC['siteid']">
		<div class="notice" id="notice_$_SC['siteid']">$message</div>
		<div class="goto" id="goto_$_SC['siteid']"><!--{if $url_forward}--><a href="$url_forward">189页面跳转中...</a>
		<!--{else}--><a href="javascript:history.go(-1);">返回上一页</a><br /><a href="/">返回首页</a>
		<!--{/if}-->
		</div>
	</div>
</div>

</div>
</body>
</html>